  
name: Docker CD

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'

jobs:
  build:
    
    runs-on: ubuntu-latest

    steps:
    
      - name: checkout code
        uses: actions/checkout@v2
    
      - name: Log in to ghcr
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    
      - name: Build & Push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/zekrotja/ranna:latest